---
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import { config } from '../config';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero>
    <Fragment slot="title">
      About Us
    </Fragment>

    <Fragment slot="subtitle">
      <div class="relative px-4 md:px-6 py-12 md:py-16 lg:py-10 text-default max-w-7xl mx-auto prose-lg prose-headings:font-bold">
        <p>Welcome to <strong>{config.site.name}</strong>, your go-to destination for free software downloads. Our mission is to provide learners and enthusiasts with access to a variety of software tools that can enhance their knowledge and skills.</p>

    <p>At <strong>{config.site.name}</strong>, we believe in the power of education and the importance of making resources available to those who seek to learn. Our platform is dedicated to offering software that is free to download for educational purposes only. We prohibit any commercial use of the software provided on our site. If you choose to use the software for commercial purposes, any issues that arise will not be the responsibility of this site.</p>

    <p>Our journey began with a simple vision: to create a platform where learners can find reliable software to aid in their studies and projects. We thoroughly review and curate software to ensure that you receive high-quality tools that meet your needs.</p>

    <p>Transparency and integrity are core values at <strong>{config.site.name}</strong>. We are committed to keeping our users informed about the software available for download and any restrictions on its use. Our content is regularly updated to reflect the latest offerings and guidelines.</p>

    <p>Thank you for choosing <strong>{config.site.name}</strong>. We are excited to be part of your learning journey and look forward to providing you with valuable software resources.</p>

    <p>For any questions, suggestions, or inquiries, please feel free to <a href=`${config.site.site}contact/` style="text-decoration: underline;">please contact us</a>. We appreciate your feedback and are always here to assist you.</p>
      </div>
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'YouTube Subscribers', amount: '355K' },
      { title: 'Email Subscribers', amount: '225K' },
      { title: 'Annual Visitors', amount: '6.5M' },
      { title: 'Customers Served', amount: '90K' },
    ]}
  />
</Layout>