---
const { products } = Astro.props;
import Button from './ui/Button.astro';
import Image from './common/Image.astro';
import { config } from '../config';

---


<!--软件下载模块 -->
<div class="container mx-auto px-4 py-4">
  <div class="app_content">
    <h2 class="text-2xl md:text-2xl font-bold border-b border-[#d1d9e0b3] pb-[0.3em]">{products.App_Title_Pro}</h2>
    <div class="w-full px-4">
      <Image
       src={products.App_Image}
       alt={products.App_Title}
       loading="lazy"
       style="margin-top: 0.5em;margin-bottom: 0.5em;width: 600px; height: auto;"
       decoding="async"
    />
    </div>
    <h3 class="text-xl md:text-xl font-bold border-b border-[#d1d9e0b3] pb-[0.3em]">{products.App_Title}</h3>
    <p class="text-gray-600">{products.App_Description}</p>
    {products.App_Content.map((content, index) => (
    <div key={index}>
    <h4 class="text-lg md:text-lg font-bold border-b border-[#d1d9e0b3] pb-[0.3em]">License Key:</h4>
     <ul class="text-base">
      {content.License_Key.map((key, keyIndex) => (
        <li key={keyIndex}>{key}</li>
      ))}
      </ul>
    <h4 class="text-lg md:text-lg font-bold border-b border-[#d1d9e0b3] pb-[0.3em]">Activation Code:</h4>
      <ul class="text-base">
        {content.Activation_Code.map((code, codeIndex) => (
        <li key={codeIndex}>{code}</li>
      ))}
      </ul>
    <h4 class="text-lg md:text-lg font-bold border-b border-[#d1d9e0b3] pb-[0.3em]">Instructions for Installation:</h4>
     <ul class="text-base list-decimal">
      {content.Instructions_for_Installation.map((instruction, instructionIndex) => (
        <li key={instructionIndex}>{instruction}</li>
      ))}
      </ul>
    </div>
    ))}
      <Button
                variants="btn-secondary"
                class="mx-auto text-base bg-[#5195de] hover:bg-[#5195de] text-white font-bold rounded-md px-4 py-4 leading-none no-underline"
                icon="tabler:download"
                href={`${products.App_Download_Url}`}
                text="Download"
              />
  </div>
</div>
